{%extends "admin_layout.html"%} <!--Inherited all nav features-->
{%block content%}
                  <div class="container">
                      <div class="row">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">Summary</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Theatres/Capacities</h6>
                              <img src="./static/images/theatre_summary.jpeg" width="200" height="200">
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
  {%endblock%}
           