{%extends "user_layout.html"%} <!--Inherited all nav features-->
{%block content%}
    {%if theatres%}
          {%for theatre in theatres%}
                {%if theatre.shows%}
                <div class="outer_box">
                    {{theatre.name}}
                  <div class="container">
                    <div class="row">
                      {%for show in theatre.shows%}
                      {%if show.date_time >= dt_time_now%}
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">{{show.name}}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">{{show.tags}}, Show time: {{show.date_time}}</h6>
                              <a href="/book_ticket/{{uid}}/{{show.id}}/{{name}}" type="button" class="btn btn-outline-primary">Book</a>
                            </div>
                          </div>
                        </div>
                        {%endif%}
                      {%endfor%}                      
                  </div>
                </div>
              </div>
              {%endif%}
              {%endfor%}
      {%else%}
              <h3 class="center">Sorry, no theatres available!!</h3>
      {%endif%}
{%endblock%}

