{%extends "user_layout.html"%} <!--Inherited all nav features-->
{%block content%}
                  <!--Venue1 started here-->
                  <div class="outer_box">
                    Venue#1
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <!--Show1 card here-->
                            <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">Show1</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Some action movie</h6>
                              <button type="button" class="btn btn-outline-warning">Fast filling</button>
                            </div>
                          </div>
                        <!--End of Show1-->
                      </div>
                      <div class="col">
                        <!--Show2 card here-->
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">Show#2</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Commedy</h6>
                              <button type="button" class="btn btn-outline-primary">Book</button>
                            </div>
                          </div>
                        <!--End of Venue2-->
                      </div>
                      
                    </div>
                  </div>
                </div>
                <!--Venue1 is ended-->
                <!--Venue2 started here-->
                <div class="outer_box">
                  Venue#1
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <!--Show1 card here-->
                          <div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <h5 class="card-title">Show1</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Some action movie</h6>
                            <button type="button" class="btn btn-outline-primary">Book</button>
                          </div>
                        </div>
                      <!--End of Show1-->
                    </div>
                    <div class="col">
                      <!--Show2 card here-->
                      <div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <h5 class="card-title">Show#2</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Commedy</h6>
                            <button type="button" class="btn btn-outline-danger">Houseful</button>
                          </div>
                        </div>
                      <!--End of Show2-->
                    </div>
                    
                  </div>
                </div>
              </div>
              <!--Venue2 is ended-->
{%endblock%}

