*{
    margin:0px;
}

.my_container{
    border: 2px solid black;
}

.my_panel{
    width: 80%;
    margin: auto;
    height: auto;
    border: 1px dashed black;
}

.input_form{
    border: 1px solid blue;
    width: 600px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    text-align: justify;
}

.outer_box{
    border: 1px solid orange;
    margin-top:10px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.center{
    text-align: center;
    margin: auto;
    color: rgb(5,5,110)
}